# These are files that are generated within the source tree by the
# ppremake system.
Makefile
pp.dep
/built/
Opt?-*
src/configfiles/30_pandatool.prc
src/vrml/vrmlLexer.cxx
src/vrml/vrmlParser.cxx
src/vrml/vrmlParser.h
src/xfile/xLexer.cxx
src/xfile/xParser.cxx
src/xfile/xParser.h
